<table class="table table-hover words">
    {% for word in words %}
    <tr>
        <td>
            <div class="word-content">
                <a href= {{"http://m.youdao.com/dict?q="+word.str}} > {{word.str}} </a>
            </div>
        </td>
        <td>
            <div class="word-count">
                <span class="badge"> {{word.count}} </span>
                 <a class="btn btn-default" href="{{url_for(nextIter, wordstr=word.str)}}">
                        +1
                </a>
                <a class="btn btn-default" href="{{url_for('main.tmp', wordstr=word.str)}}">
                        T
                </a>
            </div>
        </td>
    </tr>
    {% endfor %}
</ul>