{% extends "base.html" %}

{% block title %} {{word}} {% endblock %}

{% block page_content %}
    <a style="display:block" class="btn btn-default" href= {% if has_pre %} "{{ url_for('main.randomwords', id=num-1) }}" {% else %} "#" {% endif%} >prev</a>
    <h1 style="display:block;text-align:center" class="block"><a style="color:#555555; text-decoration:none" href={{"http://m.youdao.com/dict?q="+word}}> {{word}} </a> </h1>
    <a style="display:block" class="btn btn-default" href= {% if has_next %} "{{ url_for('main.randomwords', id=num+1) }}" {% else %} "#" {% endif%} >next</a>
    <div class="row">
        <div class="plus-one col-md-4">
            <a class="btn btn-primary" href= "{{ url_for('main.forgetword', id=num) }}"><span>+1</span></a>
        </div>
    </div>
{% endblock %}