{% extends 'base.html' %}

{% block title %} {{ user.username }} {% endblock %}

{% block page_content %}

    <div class='page-header'>
        <h1> {{ user.username }} </h1>
    </div>

    <div class = 'content'>
        {% if user.name or user.location %}
            {% if user.name %}
                <p>
                    {{user.name}}
                </p>
            {% endif %}

            {% if user.location %}
                <p>
                    {{user.location}}
                </p>
            {% endif %}
        {% endif %}

        {% if user.about_me %}      
            <p>
                {{user.about_me}}
            </p>  
        {% endif %}
        
        {% if user.is_administrator() %}
            <a href="mailto:{{user.e_mail}}">{{user.e_mail}}</a>
        {% endif %}

        <p>
            Member since {{ moment(user.member_since).format('L') }}
            Last seen {{ moment(user.last_seen).fromNow() }}
        </p>

        <p>
            {% if current_user.is_administrator() %}
                <a class='btn btn-danger' href="{{ url_for('main.edit_profile_admin', id=user.id) }}">Edit Profile</a>
            {% elif current_user == user %}
                <a class='btn btn-default' href="{{ url_for('main.edit_profile') }}" >Edit Profile</a>
            {% endif %}

            {% if current_user.can(Permission.FOLLOW) and current_user != user %}
                {% if current_user.is_following(user) %}
                    <a class="btn btn-default" href="{{url_for('main.unfollow', username=user.username)}}">
                        unfollow
                    </a>
                {% else %}
                    <a class="btn btn-primary" href="{{url_for('main.follow', username=user.username)}}">
                        Follow
                    </a>
                {% endif %}
            {% endif %}
            Followers: <a href="{{ url_for('main.followers', username=user.username) }}">
                <span class="badge"> {{user.followers.count()}} <span>
            </a>

            Following: <a href="{{ url_for('main.followed_by', username=user.username) }}">
                <span class="badge"> {{user.followed.count()}} <span>
            </a>

            {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
            | <span class="label label-default"> Follows you </span>
            {% endif %}

        </p>

        <p>
            {% if current_user.is_authenticated and user == current_user %}
                <a class="btn btn-primary" href="{{url_for('main.forgettablewords')}}">
                        Forgettable Words
                </a>

                <a class="btn btn-primary" href="{{url_for('main.iteration1')}}">
                        Iteration1
                </a>

                <a class="btn btn-primary" href="{{url_for('main.iteration2')}}">
                        Iteration2
                </a>

                <a class="btn btn-primary" href="{{url_for('main.iteration3')}}">
                        Iteration3
                </a>
            {% endif %}
        </p>

        <h3> Post by {{ user.username }} </h3>
        
        {% include '_posts.html' %}

    </div>

{% endblock %}